.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/***********************************/
/*** Merged2DPlot

/* d3 axis */
.x-axis {
  font-size: 50%;
  font-weight: lighter;
}

.x-axis line {
  stroke: #404040;
  stroke-width: 0.5;
}

.x-axis path {
  stroke: #404040;
  stroke-width: 0.5;
}

.x-axis text {
  fill: #404040
}

.y-axis {
  font-size: 50%;
  font-weight: lighter;
}

.y-axis line {
  stroke: #404040;
  stroke-width: 0.5;
}

.y-axis path {
  stroke: #404040;
  stroke-width: 0.5;
}

.y-axis text {
  fill: #404040
}

/* theo prot line */
.theo-weight-line {
  stroke-dasharray: 0.9;
  stroke-width: 1;
  stroke: green;
}


