.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  height: 100%;
  width: 100%;
}

#routes {
  height: 100%;
  width: 100%;
}


/**
 navbar
 */

 #navbar-pumba-title{
   padding-left: 10px;
   font-weight: bold;
   font-size: 120%;
 }

.human-organism {
    background-color: #e0efff !important;
}

.mouse-organism {
    background-color: #dbf0e0 !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: larger;
    background-color: #f8f9fa;
}

#options-button {
  font-size: larger;
}

#menu-organism-label {
  padding-right: 50px;
  font-size: x-large;
  font-weight: bold;
}

#menu-version-label {
    padding-top: 7px;
}

/**
 plots
 */

#protein-viz {
  max-height: 800px;
  height: calc(100% - 60px);
  width: 100%;
  /*padding-bottom: 60px;*/
}

#protein-plot {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}



/***********************************/
/*** Merged2DPlot

/* d3 axis */
.x-axis {
  font-size: 50%;
  font-weight: lighter;
}

.x-axis line {
  stroke: #404040;
  stroke-width: 0.5;
}

.x-axis path {
  stroke: #404040;
  stroke-width: 0.5;
}

.x-axis text {
  fill: #404040
}

.y-axis {
  font-size: 50%;
  font-weight: lighter;
}

.y-axis line {
  stroke: #404040;
  stroke-width: 0.5;
}

.y-axis path {
  stroke: #404040;
  stroke-width: 0.5;
}

.y-axis text {
  fill: #404040
}

/* theo prot line */
.theo-weight-line {
  stroke-dasharray: 0.9;
  stroke-width: 1.5;
  stroke: silver;
  pointer-events: none;
}

.merged-plot-line {
  pointer-events: none;
}

.merged-sample-legend {
  cursor: pointer;
}

.merged-position-circle {
  pointer-events: none;
}

.slice-bar{
  pointer-events: none;
}

.slice-bar.highlighted{
  fill: deeppink;
  stroke: deeppink;
}

.slice-bar-background:hover {
  cursor: pointer;
}

.psm.highlighted {
  fill: deeppink;
}

.psm.active {
  stroke:deeppink;
}

.tick text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.aa-bar {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* */
.mouse-pos-line {
  stroke-dasharray: 0.5;
  stroke-width: 0.5;
  stroke: grey;
  pointer-events: none;
}

.unselecteable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*****
popover
 */

.pop-over.shadow {
  fill:black
}

.pop-over {
  fill: white;
  fill-opacity: 0.9;
  stroke: black;
  stroke-width: 0.5;
}

.pop-over-title {
  font-weight:normal;
}

.pop-over-value {
  font-weight:bold;
}

/****
protein title
 */
.protein-title {
  font-size: 90%;
  cursor: pointer;
  font-family: sans-serif;
}

.protein-title:hover {
  text-decoration: underline;
}

.protein-title-warning {
  font-family: sans-serif;
  font-size: 8px;
  font-weight: normal;
  pointer-events: none;
  user-select: none;
  /*fill:  black;*/
}

/****
svgCheckbox
 */
.pumba-svg-checkbox {
  cursor: pointer;
}

/****
pumba notifications
 */
.pumba-notification.loading {
  top: 60px;
  right: 20px;
  width: 200px;
}

.pumba-notification.error {
  top: 60px;
  right: 20px;
  width: 300px;
}


/****
close button
 */

.pumba-close-button {
  cursor: pointer;
}
