#gel-viz {
    height: calc(100% - 60px);
    width: 100%;
    /*padding-bottom: 60px;*/
}

#gel-plot {
    height: 100%;
    width: 100%;
}

.gel-y-axis {
    font-size: 50%;
    font-weight: lighter;
}

.gel-y-axis line {
    stroke: #404040;
    stroke-width: 0.5;
}

.gel-y-axis path {
    stroke: #404040;
    stroke-width: 0.5;
}

.gel-y-axis text {
    fill: #404040
}

.gel-slice {
    fill: #FAFAFA
}

.theo-line-gel {
    pointer-events: none;
    stroke: red;
    stroke-width: 1;
    stroke-dasharray: 4;
}

.isoform-line-gel {
    pointer-events: none;
    stroke: green;
    stroke-width: 1;
    stroke-dasharray: 4;
}

.expand-info {
    fill: grey;
    font-size: 50%;
    pointer-events: none;
    user-select: none;
}

.gel-title-merged {
     font-size: 12px;
     font-weight: bold;
     pointer-events: none;
     user-select: none;
 }

.gel-subtitle-merged {
    font-size: 10px;
    pointer-events: none;
    user-select: none;
}

.gel-title-sample {
    font-size: 10px;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

.gel-subtitle-sample {
    font-size: 10px;
    pointer-events: none;
    user-select: none;
}

.gel-theo-molweight-text{
    pointer-events: none;
    user-select: none;
    font-size: 70%;
    fill: red;
}

.isoform-text{
    pointer-events: none;
    user-select: none;
    font-size: 70%;
    fill: green;
}