#peptide-viz {
    max-height: 800px;
    height: calc(100% - 60px);
    width: 100%;
    /*padding-bottom: 60px;*/
}

#peptide-plot {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.pep-x-axis {
    font-size: 0.5em;
    font-weight: lighter;
}

.pep-x-axis line {
    stroke: #404040;
    stroke-width: 0.5;
}

.pep-x-axis path {
    stroke: #404040;
    stroke-width: 0.5;
}

.pep-x-axis text {
    fill: #404040
}

.pep-y-axis {
    font-size: 50%;
    font-weight: lighter;
}

.pep-y-axis line {
    stroke: #404040;
    stroke-width: 0.5;
}

.pep-y-axis path {
    stroke: #404040;
    stroke-width: 0.5;
}

.pep-y-axis text {
    fill: #404040
}